/* large numbers list css */

ol.largenumber-list {
    counter-reset: li;
    list-style-type: none;
    font-size: 16px;
    line-height: 32px;
    padding-left: 10px;
}

ol.largenumber-list li {
    position: relative;
    padding: 5px 0 5px 50px;
    width: 95%;
    overflow-wrap: break-word;
}

ol.largenumber-list li::before {
    content: counter(li);
    counter-increment: li;
    height: 35px;
    width: 35px;
    border: 1px solid #056DAE;
    border-radius: 50%;
    color: #056DAE;
    text-align: center;
    position: absolute;
    left: 0;
    top: 4px;
    font-weight: normal;
    font-size: 18px;
}